@model AvaMina.Models.Person

@{
    ViewData["Title"] = "RemovePerson";
}
<!-- ======= Our Team Section ======= -->
<section id="team" class="team section-bg">
    <div class="container">

        <div class="title-page text-white text-center mt-4" data-aos="fade-up">
            <h2><strong>Delete Person</strong></h2>
            <h3>Are you sure you want to delete this Person ?</h3>
        </div>
        <div class="row">
            <div class="member" data-aos="fade-up">
                <div class="item" style="direction:rtl">
                    <div class="card" style="direction:rtl;text-align:right">
                        <h3 class="card-header text-center">
                            @Html.DisplayFor(model => model.FirstName)
                            @Html.DisplayFor(model => model.SecondName)
                            @Html.DisplayFor(model => model.ThirdName)
                        </h3>
                        <div class="card-body">
                            <h4 class="card-title">العنوان </h4>
                            <p class="card-text fs-4">
                                @Html.DisplayFor(model => model.BuildNum) شارع
                                @Html.DisplayFor(model => model.StreetName) الدور
                                @Html.DisplayFor(model => model.FloorNum) شقة
                                @Html.DisplayFor(model => model.ApartemntNum)
                            </p>
                            <h4 class="card-title"> تليفون </h4>
                            <p class="card-text fs-4">@Html.DisplayFor(model => model.PhoneNum)</p>

                            <h4 class="card-title"> تليفون الاب </h4>
                            <p class="card-text fs-4">@Html.DisplayFor(model => model.FatherPhoneNum)</p>

                            <h4 class="card-title"> تليفون الام </h4>
                            <p class="card-text fs-4">@Html.DisplayFor(model => model.MotherPhoneNum)</p>

                            <h4 class="card-title"> تاريخ الميلاد </h4>
                            <p class="card-text fs-4">@Html.DisplayFor(model => model.DateOfBirth)</p>

                            <h4 class="card-title">ملاحظات</h4>
                            <p class="card-text fs-4">@Html.DisplayFor(model => model.Notes)</p>

                            <h4 class="card-title"> منطقة </h4>
                            <p class="card-text fs-4">@Html.DisplayFor(model => model.Area)</p>
                        </div>
                        <div class="card-footer mt-2">
                            <form asp-controller="People" asp-action="RemovePerson" method="post">
                                <a asp-controller="People" asp-action="People" class="btn btn-outline-success">Back to List</a>
                                <input type="submit" value="Delete" class="btn btn-danger" />
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section><!-- End Our Team Section -->
